* {
    border-radius: 10px;
    padding: 0;
    box-sizing: border-box;
}
.header {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: rgb(73, 73, 73);
    text-align: center;
}
.header ul {
    list-style: none;
    display: inline-flex;
}
.header ul li {
    padding: 20px;
    font-size: 30px;
    margin-inline: 60px;
}
.header ul li a {   
    text-decoration: none;
    color: white;
}
.header ul li:hover {
    background-color:rgb(87, 226, 219);
}



.banner {
    width: 100%;
    height: 100vh;
    background-image: url("./Assets/practicalPic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 110px;
}


.sect1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.section_1 {
    display: flex;
    justify-content: center;
}

.image {
    width: 250px;
    height: 250px;
    margin-inline: 60px;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.section_2 {
    display: flex;
}

.main {
    text-align: center;
    padding: 15px;
    color: white;
    background-color: grey;
    width: 49%;
    margin-right: 2%;
}   

.artical {
    width: 49%;
}
.articals {
    width: 100%;
    height: 110px;
    background-image: url("./Assets/proj2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border:1px solid black;
}
#artical2 {
    background-image: url("./Assets/proj1.jpg");
}
#artical3 {
    background-image: url("./Assets/proj3.jpg");
    margin-bottom: 0;
}

.articals p {
    text-align: center;
    font-size: 25px;
    margin-top: 0%;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}
.card {
    width: 300px;
    height: 410px;
    background-color: white;
    border: 2px solid yellow;
    border-radius: 15px;
    padding: 20px;
    margin-inline: 20px;
}
.card img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}
.button {
    display: block;
    text-align: center;
    background-color: rgb(114, 32, 190);   
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    
}
.button a {
    text-decoration: none;
    color: white;

}
.para {
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
}
.button:hover{
    background-color: rgb(52, 109, 13);
}
#card2 {
    border: solid rgb(43, 104, 161);
}
#card3 {
    border: solid rgb(97, 153, 12);
}
#card4 {
    border: solid rgb(119, 22, 119);
}

.footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(209, 111, 128);
}.footer p {
    font-size: 20px;
}


